<div style="background-color: #f0f2f4;">
    <!-- Navbar start -->
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(26, 24, 24);">
      <a class="navbar-brand" routerLink="/home"><img src="../assets/images/logo.png" alt="osos" class="img-fluid img-thumbnail" width="25%"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="responsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" >
            <a class="nav-link text-white font-weight-bold" routerLink="/joblist"><button class="btn font-weight-bold text-white" style="background-image: linear-gradient(to left, rgba(241, 28, 28, 0), rgba(255,0,0,1));">JOBS LIST </button> </a>
          </li> 
        </ul>
      </div>  
    </nav>
    <!-- Navbar end -->
    
      <div class="container-fluid p-0 m-0" >
        <div class="container">
    
          <!-- Post a job area start -->
          <div class="text-center" style="padding-top: 90px;">
            <h1 id="size">POST A JOB ON OSOS</h1>
            <p class="pt-3 pb-2" style="font-weight:400; letter-spacing: 1px; color: rgb(22, 21, 21);font-size: 18px;">Leave finding good candidates to us while <br> you concentrate on your business!</p>
            <button class="btn  py-2 px-5 rounded-lg" style="background-color: #ff6000; color: white; font-weight: 600;letter-spacing: 1px; word-spacing: 2px; font-size: 18px;">
                <a routerLink="/postajob"   style="text-decoration: none; color: white;">Post A Job</a>
            </button>
          </div>
          <!-- Post a job area end -->
    
          <!-- Information area start -->
          <div class="row" style="padding-top: 80px;">
            <div class="col-sm-4">
              <ul style="list-style-type: none; text-align: center;">
                <li>
                  <div class="circle1 mb-2"><i class='fas fa-air-freshener'></i></div>
                  <p style="font-weight: 400; color: black">Get more qualified and interested candidates, matched by the Zippia Career Algorithm</p>        
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul style="list-style-type: none; text-align: center;">
                <li>
                  <div class="circle2 mb-2"><i class='fas fa-users'></i></div>
                  <p style="font-weight: 400; color: black;">Reach millions of active job seekers on osos.com</p>        
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul style="list-style-type: none; text-align: center;">
                <li>
                  <div class="circle3 mb-2"><i class='fas fa-biking'></i></div>
                  <p style="font-weight: 400; color: black; font-size: 16px;">Get more qualified and interested candidates, matched by the Zippia Career Algorithm</p>        
                </li>
              </ul>
            </div>
          </div>
          <!-- Information area end -->
        </div>
    
        <!-- Footer -->
        <div style="padding-top: 60px;">
          <footer class="py-1 text-center" style="background-color: #9676a1; color: white;">
            <p>All rights 	&#169; osos 2020 Reserved</p>
          </footer>
        </div>
      </div>
    </div>
